.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
  padding-top: var(--spacing-lg);

  .innerWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    &.vertical {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: var(--spacing-xl);
    }
  }
}
