.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);

  .copyRightParagraph {
    font-size: var(--font-size-sm);
    font-weight: lighter;
    color: #ffffff;
  }

  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg);

    .itemWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s ease;

      &:hover {
        transform: scale(1.1);
      }
    }


    @media screen and (min-width: 768px) {
      gap: var(--spacing-lg);
    }
  }
}