.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: var(--section-padding);
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--section-max-width);
    gap: var(--spacing-lg);
  }

  @media screen and (min-width: 768px) {
    .list {
      max-width: 768px;
    }
  }
}