.wrapper {
  background-color: #fff;
  padding: var(--spacing-md) 0;

  display: grid;
  grid-template-areas:
        'image'
        'title'
        'details'
        'description';
  width: 100%;
  grid-gap: var(--spacing-sm);
  max-width: 460px;

  .title {
    grid-area: title;
    vertical-align: center;
    font-size: 22px;
    font-weight: var(--font-weight-extrabold);
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
  }

  .description {
    grid-area: description;
    font-size: var(--font-md);
    font-weight: 300;
    text-align: justify;
  }

  .details {
    grid-area: details;
    font-size: var(--font-md);
    font-weight: bold;
  }

  .image {
    grid-area: image;
    max-width: 460px;
    height: 270px;
    overflow: hidden;
    position: unset;
    background-color: red;
  }

  @media screen and (min-width: 768px) {
    grid-template-areas:
        'image title'
        'image details'
        'image description';
    grid-template-columns: 320px 1fr;
    grid-template-rows: minmax(0, 48px) minmax(0, 48px) 152px;
    max-width: 768px;
  }
}