.wrapper {
  //flex-grow: 1;
  background-color: #fff;
  border-bottom: 1px solid #000000;
  padding: var(--spacing-md) 0;

  display: grid;
  grid-template-areas:
        'image title'
        'image details'
        'image description'
        'image description';
  width: 100%;
  grid-gap: 1rem;

  grid-template-rows: 50px 0.2fr 50px 1fr;
  grid-template-columns: 200px 1fr;

  .title {
    grid-area: title;
    vertical-align: center;
    font-size: 22px;
    font-weight: var(--font-weight-extrabold);
    display: flex;
    gap: var(--spacing-sm);
    align-items: center;
  }

  .description {
    grid-area: description;
    font-size: var(--font-md);
    font-weight: 300;
    word-break: break-word;
  }

  .details {
    grid-area: details;
    font-size: var(--font-md);
    font-weight: bold;
  }

  .image {
    grid-area: image;
    height: 200px;
    overflow: hidden;
  }

  @media screen and (max-width: 580px) {
    grid-template-areas: 'title title'
                         'image image'
                         'details details'
                         'description description';
    grid-template-rows: 32px 200px 0.2fr 1fr;
    grid-gap: 0.5rem;
  }
}