.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: var(--color-white);
  padding: var(--section-padding);
  gap: 2rem;
  margin-bottom: var(--spacing-lg);

  .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: var(--section-max-width);
    gap: 4rem;
  }
}
